@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}
.bg1{
    background:#F4F0F0
}
.bl-bg{
    background:#000000;
}
.blue-bg{
    background:#2F72FF !important;
}
.blue-clr{
    color:#2F72FF !important;
}
.yl-clr{
    color:#F1C517
}
.yl-bg{
    background:#F1C517
}
.warn-bg{
    background-color:#e65353
}
.warn{
    color:#e65353
}
.ok{
    background:#6BD382;
}
.ok-text{
    color:#6BD382;
}
.default-clr{
    color:#FFFFFF
}
.hide{
    display:none !important;
}


.default-bg{
    background:#FFFFFF;
}
.confirm{
    cursor: pointer;
}
.report-btn{
}
.cancel{
cursor: pointer;

}
.btn-font-size{
    font-size:calc(1rem + 0.5vw)
}
.report-prompt{
    height: 10vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap: 0.6rem;
}
.loading-wrapper{
    position: fixed;
    z-index: 5;
    width:100%;
    height: 100vh;
    background:rgba(255,255,255,0.5);
    display:flex;
    align-items:center;
    justify-content:center;
}
.notfound{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
}
.notfound-wrapper{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap:1rem;
    height:50vh;
}
.notfound-wrapper img{
    width:70%;
    
}
.notfound-wrapper span{
    font-size:calc(1.3rem + 1vw);
    font-weight:700;
    
}
.select-wrapper {
    width:60%;
    margin:auto
}