@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
    scroll-behavior: smooth;
}
.bg1{
    background:#F4F0F0
}
.bl-bg{
    background:#000000;
}
.warn-bg{
    background-color:#e65353
}
.warn{
    color:#e65353
}
.ok{
    background:#6BD382;
}
.ok-text{
    color:#6BD382;
}
.default-clr{
    color:#FFFFFF
}
.hide{
    display:none;
}

.default-bg{
    background:#FFFFFF;
}
.confirm{
    cursor: pointer;
}
.report-btn{
}
.cancel{
cursor: pointer;

}
.btn-font-size{
    font-size:calc(1rem + 0.5vw)
}
.report-prompt{
    height: 10vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    gap: 0.6rem;
}