@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans JP', sans-serif;
}
.bg1{
    background:#F4F0F0
}
.bl-bg{
    background:#000000;
}
.ok{
    background:#6BD382;
}
.default-clr{
    color:#FFFFFF
}
.hide{
    display:none;
}
.default-bg{
    background:#FFFFFF;
}