.hero{
   
    width:100%;
    height:50vh;
    display: flex;
    justify-content:center;
}
.hero-text{
    display: flex;
    align-items:center;
    width:40%;
    justify-content:center;
}
.hero-text .text{
    font-size:calc(1.2rem + 1vw)
}
.hero-image{

    width:50%;
    display: flex;
    align-items:center;
    max-width: 500px;
}
.hero-image img{
    width:100%;
    max-width:500px;
}
.db-menu{
    height:15vh;
    display: flex;
    align-items:center;
    flex-direction:column;
    gap:1rem;
 
}
 .menu-selection{
    height:10vh;
    width:85%;
    border-radius: 10px;
    cursor: pointer;
 
}
.menu-selection span{
    line-height:10vh;
    margin-left: 10px;
    font-size: calc(0.8rem + 1vw);
    font-weight: 300;
}
.qr{
    height: 60vh;
   margin-top: 10vh;
    text-align: center;
    
}
.qr .title{
    font-size: calc(1.7rem + 1vw);
}
.qr-code{   
    width:90%;
    margin: 2rem auto;
    height:25vh;
    display: flex;
    align-items:center;
    justify-content:center;
}
.desc-wrapper{
    width:90%;
    margin: auto;
    text-align: center;
}
.dashboard{
    max-width: 700px;
    height: 140vh;
    margin:auto;
}
.qr .desc-text{
    font-weight: 300;
}

.generate{
    margin-top:2rem;
}
.generate-btn{
    font-size: calc(0.5rem + 1vw);
}
.scanner-wrapper{
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: auto;
    margin-top: 25px;
    flex-direction: column;
    gap: 1rem;
}
.scanner{
    width:60%;
    max-width:240px;
    min-width: 200px;
}
.scanner-info{
    width:90%;
    margin: auto;
}
.org{
    font-size: calc(1rem + 1vw);
}
.username{
    font-weight: 300;
}
.travel-logs{
    margin: auto;
    width:85%;
    max-width:700px;
}
.travel-logs .title-wrapper , .reports .title-wrapper{
    height: 10vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
}
.travel-logs .title-wrapper .title-text , .reports .title-wrapper .title-text{
    font-size: calc(1.4rem + 1vw);
}
.travel-log-lists{
    list-style-type: none;
}

.travel-log-lists{
 margin-top: 3vh;
height:50vh;
height: 100vh;
overflow-y: scroll;

}
.travel-log-list{
    width:95%;
    height: 15vh;
    margin:auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap:0.3rem;
    position: relative;
    margin-top:15px;
}
.travel-log-list .location{
    font-size:calc(1rem + 1vw);
}
.travel-log-list .time{
    font-weight: 200;
}
.travel-log-list span{
    margin-left: 10px;
}
.not-me{
    width:30%;
    height: 3vh;
    border-radius:5px;
    cursor: pointer;
    max-width:124px;
}
.report-modal{
    position: absolute;
    height:15vh;
    width:100%;
    border-radius:5px;
}
.report-modal-header{
    height:5vh;
    display: flex;
    width: 100%;
    align-items: center;
    border-radius:5px;
}
.back-btn{
    cursor: pointer;
    font-size:calc(2rem + 1vw)
}
.scanner-db, .reports{
    max-width:700px;
    margin: auto;
}
.reports{
    width:80%;
    margin: auto;
}
.all-reports ul{

    list-style-type: none;
    display: flex;
    flex-direction:column;
    align-items:center;
    gap: 1rem;
    width:90% ;
    margin:50px auto;
}
.all-reports li{

    width:95%;
}
.report-summary{
    font-size:calc(0.7rem + 1vw);
    outline:none;
    cursor: pointer;
}
.summary-text{
    font-weight: 300;
    font-size:calc(0.5rem + 1vw);
    max-width:30ch;
}
.admin-log-list{
    width: 90%;
}
.admin-logs-list{
    width:90%;
}
.filters{
    display: flex;
    flex-direction: column;
    justify-content:center;
    max-width:590px;
    gap: 1rem;
    margin:auto;
}
.date-picker{
    width:100%;
    height:2.5rem;
    font-size:1rem;
    border:none;
}
.date-picker input{
    width:100%;
    height:1rem;
    font-size: 2rem;
}
.general-info{
    padding:20px;
    border-radius: 10px;
    display: flex;
}
.important-info{
    margin-top:10px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    
}
.general-info span{
    display:block;
}
.user-details label{
    font-weight: 300;
    font-size:0.7rem;
    color:#8d918e;
}
.user-details span{
    color:#4b4d4b;
    font-size: calc(0.7rem + 0.5vw)
}
.inline{
    display:inline !important;
}
.edit-wrapper{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.edit-wrapper span{
    font-size: calc(1.2rem  + 1vw);
    cursor:pointer;
    color:#8d918e;
}
.info-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.max{
    max-width: 700px;
}
.profile-modal{
    position:fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left:50%;
    transform:translate(-50%);
    background:#FFFFFF;
}
.modal-height{
    height:100vh;

}

.profile-wrapper{

    width:90%;
    height:100vh;
    margin: auto;
}
.profile-picture{
    width:100%;
    height:40vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.profile-picture{
    margin-bottom: 1.2rem;
}
.profile-area img{
    clip-path: circle(40%);
    width: 15rem;
    max-height: 182px;
    
}
.profile-area-label{
    cursor:pointer;
    text-decoration: underline;
    font-size: 1.2rem !important;
}
.profile-area-name span{
    font-size:2.5rem
}
.user-details{
    width:95%;
    margin: auto;
    
}
.fixed-pos{
    top:10vh;
    height:70vh;
}
.fixed-pos-smol{ 
    height:50vh;
}
.reports .title-wrapper{
    width:90%;
    margin: auto;
}
@media only screen and (min-width:900px){
    .generate-btn, .signin-btn{
        font-size: calc(0.5rem + 0.7vw);
    }
   
}
@media only screen and (min-width:1200px){
    .travel-log-lists{
        margin-top: 3vh;
       height:50vh;
       height: 100vh;
       overflow-y:unset;
       }
    .travel-logs-wrapper{
        width:90%;
        margin: auto;
    }
    .travel-logs .title-wrapper{
        width:90%;
        margin: auto;
    }
    .report-summary{
        font-size:calc(0.2rem + 1vw);
        outline:none;
        cursor: pointer;
    }
    .summary-text{
        font-weight: 300;
        font-size:calc(0.2rem + 0.7vw);
        max-width:30ch;
    }
    .dashboard{
        max-width: 700px;
        height: 140vh;
        margin:auto;
        filter: drop-shadow(0px 0px 3px #ebebeb);
        background-color:#FFFFFF ;
    }
    .travel-logs{
        margin: auto;
        width:85%;
        filter: drop-shadow(1px 1px 5px #ebebeb);
        background:#FFFFFF;
        max-width:700px;
    }
    .profile{
        height:100vh;
     }
     .profile-modal{
        position:fixed;
        width: 50% ;
        top: 0;
        filter: drop-shadow(0px 0px 3px #ebebeb);
        left:50%;
        transform:translate(-50%);
        background:#FFFFFF;
    }
    .reports{
        width:80%;
        margin: auto;
        background:#FFFFFF;
        filter: drop-shadow(0px 0px 3px #ebebeb);
        height:100vh;
    }
    .light{
        font-weight:200;
    }
}